---
layout: default
---

<div class="grid">

  {% for project in site.projects reversed %}
  
    <article role="article" class="card">
	    <div class="meta">
      <h2><a href="{{ site.baseurl }}{{ project.url }}">
        {{ project.title }}
      </a></h2>
      <p>{{ project.summary }}</p>
        <time class="date" datetime="{{ project.date | date_to_xmlschema }}">{{ project.date | date: "%Y" }} &middot; {{ project.category }}</time>
	    </div>
    </article>
    
    
  {% endfor %}
  
</div>
